# Geo part

In [1]:
!conda install -c conda-forge geopy --yes

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2020.6.20  |       hecda079_0         145 KB  conda-forge
    certifi-2020.6.20          |   py36h9f0ad1d_0         151 KB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    geopy-1.22.0               |     pyh9f0ad1d_0          63 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         393 KB

The following NEW packages will be INSTALLED:

  geographiclib      conda-forge/noarch::geographiclib-1.50-py_0
  geopy              conda-forge/noarch::geopy-1.22.0-pyh9f0ad1d_0

The following packages will be UPDATED:

  ca-certificates                     2020.4.5.2-hecda079_0 --> 2020.6.20-hecda079_0
  certifi                         2020.4.5.2-py36h9f0ad1d_0 --> 2020.6.20-py36h9f0ad1d_0



Downloading and Extracting Packages
certifi-2020.6.20    | 151 KB    | ##################################### | 100%
geopy-1.22.0         | 63 KB     | ##################################### | 100%
ca-certificates-2020 | 145 KB    | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [3]:
from geopy.distance import distance
from geopy.distance import great_circle

import json, logging
from geopy.geocoders import Nominatim

def seperator(a,b):
    c = (b - a)/9
    return [round(a,7),round(a+c,7),round(a+c*2,7),round(a+c*3,7),round(a+c*4,7),round(a+c*5,7),round(a+c*6,7),round(a+c*7,7),round(a+c*8,7),round(b,7)]

def geo_point_creator(city):
    geolocator = Nominatim(user_agent="ny_explorer")
    location = geolocator.geocode(city)
    lat_list = seperator(float(location.raw['boundingbox'][0]),float(location.raw['boundingbox'][1]))
    lon_list = seperator(float(location.raw['boundingbox'][2]),float(location.raw['boundingbox'][3]))
    point_list = []
    for lat in lat_list:
        for lon in lon_list:
            point_list.append([city,lat,lon])
    df_city = pd.DataFrame(point_list, columns=['city','lat','lng'])
    point0 = [float(df_city.loc[0,['lat']]),float(df_city.loc[0,['lng']])]
    point1 = [float(df_city.loc[1,['lat']]),float(df_city.loc[1,['lng']])]
    point10 = [float(df_city.loc[10,['lat']]),float(df_city.loc[10,['lng']])]
    rad1 = int(distance(point0, point1).meters//2)
    rad2 = int(distance(point0, point10).meters//2) 
    radius = (rad1 + rad2)//2
    #print(point0,point1,point10,rad1,rad2,radius)
    df_city['radius'] = radius
    return df_city

# Data Cleaning

In [5]:
import pandas as pd
import numpy as np
import time
import requests

#df = pd.read_csv('CITIES_12062020101058739.csv')

In [131]:
gdp_2018 = df[df['Year']==2018]
top5_gdpt_city = gdp_2018[gdp_2018['VAR']=='GDP_REAL_PPP'].sort_values(by='Value',ascending=False).head()
gdpt = top5_gdpt_city['Metropolitan areas'].to_list()

In [132]:
top5_gdpp_city = gdp_2018[gdp_2018['VAR']=='GDP_PC_REAL_PPP'].sort_values(by='Value',ascending=False).head()
gdpp = top5_gdpp_city['Metropolitan areas'].to_list()

In [6]:
CLIENT_ID = 'GBHOGHOE3DL1WYFOB4W5WI5SM1PLH1MDY4WN3O12SFGOVDUU' # your Foursquare ID
CLIENT_SECRET = 'AI25GODMBYEC331GD1VSY4Y3MRBP3SKR15N2YC01VKLSR0U4' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)
LIMIT = 100

Your credentails:
CLIENT_ID: GBHOGHOE3DL1WYFOB4W5WI5SM1PLH1MDY4WN3O12SFGOVDUU
CLIENT_SECRET:AI25GODMBYEC331GD1VSY4Y3MRBP3SKR15N2YC01VKLSR0U4

In [126]:
def getNearbyVenues(name, latitudes, longitudes, radius=5000):
    
    venues_list=[]
    for lat, lng in zip(latitudes, longitudes):
        print('{},{}'.format(lat,lng))
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name,
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['City Name',
                  'Latitude', 
                  'Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

**for loop to generate the DataFrame**

In [105]:
city_list = ['New York','London']
city_point = pd.DataFrame(columns=['city','lat','lng','radius'])
for city in city_list:
    df_tmp = geo_point_creator(city)
    city_point = city_point.append(df_tmp, ignore_index=True)

# Test Zone

## Task: Change the city with country code to have better geopy result (Working)

In [67]:
geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode('london')

In [68]:
print(json.dumps(location.raw,indent=4,ensure_ascii=False))

{
    "place_id": 100200,
    "licence": "Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright",
    "osm_type": "node",
    "osm_id": 107775,
    "boundingbox": [
        "51.3473219",
        "51.6673219",
        "-0.2876474",
        "0.0323526"
    ],
    "lat": "51.5073219",
    "lon": "-0.1276474",
    "display_name": "London, Greater London, England, SW1A 2DX, United Kingdom",
    "class": "place",
    "type": "city",
    "importance": 0.9307827616237295,
    "icon": "https://nominatim.openstreetmap.org/images/mapicons/poi_place_city.p.20.png"
}

## TASK: Calculate the radius parameter(Working)

In [76]:
city = 'London'
point0 = [float(city_point[city_point['city']==city].reset_index().loc[0,['lat']]),float(city_point[city_point['city']==city].reset_index().loc[0,['lng']])]
point1 = [float(city_point[city_point['city']==city].reset_index().loc[1,['lat']]),float(city_point[city_point['city']==city].reset_index().loc[1,['lng']])]
point10 =  [float(city_point[city_point['city']==city].reset_index().loc[10,['lat']]),float(city_point[city_point['city']==city].reset_index().loc[10,['lng']])]
rad1 = int(vincenty(point0, point1).meters//2)
rad2 = int(vincenty(point0, point10).meters//2)  
radius = (rad1 + rad2)//2
radius

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:5: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  """
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:6: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.

1607

In [102]:
from geopy.distance import distance
from geopy.distance import great_circle

import json, logging
from geopy.geocoders import Nominatim

def seperator(a,b):
    c = (b - a)/9
    return [round(a,7),round(a+c,7),round(a+c*2,7),round(a+c*3,7),round(a+c*4,7),round(a+c*5,7),round(a+c*6,7),round(a+c*7,7),round(a+c*8,7),round(b,7)]

def geo_point_creator(city):
    geolocator = Nominatim(user_agent="ny_explorer")
    location = geolocator.geocode(city)
    lat_list = seperator(float(location.raw['boundingbox'][0]),float(location.raw['boundingbox'][1]))
    lon_list = seperator(float(location.raw['boundingbox'][2]),float(location.raw['boundingbox'][3]))
    point_list = []
    for lat in lat_list:
        for lon in lon_list:
            point_list.append([city,lat,lon])
    df_city = pd.DataFrame(point_list, columns=['city','lat','lng'])
    point0 = [float(df_city.loc[0,['lat']]),float(df_city.loc[0,['lng']])]
    point1 = [float(df_city.loc[1,['lat']]),float(df_city.loc[1,['lng']])]
    point10 = [float(df_city.loc[10,['lat']]),float(df_city.loc[10,['lng']])]
    rad1 = int(distance(point0, point1).meters//2)
    rad2 = int(distance(point0, point10).meters//2) 
    radius = (rad1 + rad2)//2
    #print(point0,point1,point10,rad1,rad2,radius)
    df_city['radius'] = radius
    return df_city

In [84]:
city = 'London'
float(city_point[city_point['city']==city].reset_index().loc[0,['lat']])

51.3473219

In [107]:
df = geo_point_creator('New York')

In [108]:
df

        city        lat        lng  radius
0   New York  40.477399 -74.259090    5339
1   New York  40.477399 -74.196989    5339
2   New York  40.477399 -74.134888    5339
3   New York  40.477399 -74.072787    5339
4   New York  40.477399 -74.010686    5339
..       ...        ...        ...     ...
95  New York  40.916179 -73.948585    5339
96  New York  40.916179 -73.886484    5339
97  New York  40.916179 -73.824383    5339
98  New York  40.916179 -73.762282    5339
99  New York  40.916179 -73.700181    5339

[100 rows x 4 columns]

In [106]:
city_point

         city        lat        lng radius
0    New York  40.477399 -74.259090   5339
1    New York  40.477399 -74.196989   5339
2    New York  40.477399 -74.134888   5339
3    New York  40.477399 -74.072787   5339
4    New York  40.477399 -74.010686   5339
..        ...        ...        ...    ...
195    London  51.667322  -0.109870   3216
196    London  51.667322  -0.074314   3216
197    London  51.667322  -0.038759   3216
198    London  51.667322  -0.003203   3216
199    London  51.667322   0.032353   3216

[200 rows x 4 columns]

## TASK: GET VENUES and create feature DataFrame(Pending)

## TASK: Clustering(Pending)

In [127]:
test_venues = getNearbyVenues(name='New York',latitudes=df2['lat'],longitudes=df2['lng'])

40.477399,-74.25909
40.477399,-74.2031991
40.477399,-74.1473082
40.477399,-74.0914173
40.477399,-74.0355264

In [6]:
df = geo_point_creator('New York')

In [34]:
city_point.head(20)

        city        lat        lng
0   New York  40.477399 -74.259090
1   New York  40.477399 -74.196989
2   New York  40.477399 -74.134888
3   New York  40.477399 -74.072787
4   New York  40.477399 -74.010686
5   New York  40.477399 -73.948585
6   New York  40.477399 -73.886484
7   New York  40.477399 -73.824383
8   New York  40.477399 -73.762282
9   New York  40.477399 -73.700181
10  New York  40.526152 -74.259090
11  New York  40.526152 -74.196989
12  New York  40.526152 -74.134888
13  New York  40.526152 -74.072787
14  New York  40.526152 -74.010686
15  New York  40.526152 -73.948585
16  New York  40.526152 -73.886484
17  New York  40.526152 -73.824383
18  New York  40.526152 -73.762282
19  New York  40.526152 -73.700181

In [23]:
df

         city        lat        lng
0    New York  40.477399 -74.259090
1    New York  40.477399 -74.196989
2    New York  40.477399 -74.134888
3    New York  40.477399 -74.072787
4    New York  40.477399 -74.010686
..        ...        ...        ...
195    London  51.667322  -0.109870
196    London  51.667322  -0.074314
197    London  51.667322  -0.038759
198    London  51.667322  -0.003203
199    London  51.667322   0.032353

[200 rows x 3 columns]

In [71]:
lat = 53.567411	
lng = -2.474144
radius = 500
LIMIT = 100
    
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)

In [72]:
results = requests.get(url).json()["response"]['groups'][0]['items']

In [56]:
url

'https://api.foursquare.com/v2/venues/explore?&client_id=GBHOGHOE3DL1WYFOB4W5WI5SM1PLH1MDY4WN3O12SFGOVDUU&client_secret=AI25GODMBYEC331GD1VSY4Y3MRBP3SKR15N2YC01VKLSR0U4&v=20180605&ll=53.567411,-2.474144&radius=500&limit=100'

In [87]:
city_points = {}
geo_point_creator('New York')

In [77]:
geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode('Oxford,UK560')

In [78]:
print(json.dumps(location.raw,indent=4,ensure_ascii=False))

AttributeError: 'NoneType' object has no attribute 'raw'